html {
  height: 100%;
  width: 100%;
}

body {
  background-color: aquamarine;
  color: darkblue
}
/* 글꼴설정 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Black Han Sans", sans-serif;
}

p {
  font-family: "Sunflower", sans-serif;
}

p-thin {
  font-weight: 300;
}

p-normal {
  /*font-weight: 500;*/
  font-weight: normal;
}

p-bold{
  font-weight: 700;
}